* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
}


.gray{
  color: #918E9B;
}

.bold{
  font-weight: 600;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

section{
  padding: 20px;
}

.nav--logo {
  max-width: 100px;
}

.header{
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.head-image{
  max-width: 400px;
  align-self: center;
}

.head-title{
  padding-top: 16px;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
}

.head-text{
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
  width: 320px;
}

.head-title,
.head-text {
  align-self: left;
}

.cards-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 20px;
  overflow-x: auto;
}

.card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-photo{
  border-radius: 9px;
  width: 100%;
  margin-bottom: 9px;

}

.card-stats{
  display: flex;
  align-items: center;
}

.card-star{
  height: 12px;
}

.card-price{
  margin-top: auto;
}

.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  color: #918E9B;
}
